/* Recipe Section starts */
#recipe{

    width: 100%;
        height: 280vh;     
      background-image: url("../assets/images/recipe.jpg");
      background-position: center;  
       background-size: cover; 
       /* margin-bottom: -20px; */
     
    
}

#recipe h1{
    position: relative;
    width: 80%;
    min-width: 950px;
    
    margin-top: -10px;
    padding: 0 0 0 30px;
    font-family: "Recursive", sans-serif;
    font-size: 4rem;
    color: blue;
    text-align: center;
    


}

.recipe{
    width: 90%;
    /* height: 100%; */
    
}

.recipe-content{
    position: relative;
    width: 90%;
       height: 240vh;  
    margin: 20px auto 0 auto;
     padding: 40px 30px 60px 20px; 
    background: linear-gradient(to right,  #00093c,#89CFF0);   
}


.recipe p{
    margin: 50px 150px 0;
    font-size: 16px;
    line-height: 1.5;
    color:#000080	;
    text-align: justify;
    font-size: 25px;
}


     


.recipe-title h3{
   text-align: center;
    color: rgba(255,255,255,1.00);
}



.ingredients{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.ingredients h3, .directions h3{
    position: relative;
    width: 20%;
    height: 1.6rem;
    margin: 50px 0 0 50%;
    padding: 0;
    font-family: "Recursive", "Poppins", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    background-color: rgba(204,114,11,1.00);
    color: rgba(255,255,255,1.00);
    border-radius: 8rem;
}

.ingredients ul, .directions ol{
    width: 70%;
    height: auto;
    color: rgba(255, 255, 255, 1.00);
    font-size: 1rem;
    line-height: 1.2rem;
    margin-top: 50px;
}

.ingredients li{
    margin: 0 0 10px 70%;
    list-style-type: square;
}

.directions li{
    margin: 0 0 10px 70%;
}


.video p, .audio p{
    margin: 100px 0 0 350px;
    font-size: 2rem;
    line-height: 1.5;
    color: rgba(255, 255, 255, 1.00);;
    text-align: justify;
}

.video .video-content{
    width: 600px;
    height: 600px;
    margin: 0 400px;
}

.audio .audio-content{
    margin: 100px 400px 50px;
}

.aside{
      background-color: #9185c9;  
    width: 300px;
    height: 150vh;
     margin: 50px 0px 0px -17px; 
    position: relative;
    top: -134rem;
   
}


.aside .aside-content{
    text-align: center; 
   /* padding: 60px 0 0 20px */
}

.dish{
     margin: 20px 20px 30px;  
    position: absolute;
    top: 85%;
    left: -5%;
    transform: translateY(-70%);
}

.dish p{
    color: white;
    font-size: 1.2rem;
     margin: 20px 0  
}

.dishes{
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 5px 7px;
}

.dishes:focus{
    outline: none;
}

.dishes::-webkit-calendar-picker-indicator {
    
    opacity: 0;
  }


  


.aside .details-container{
      position: absolute;
        left: 35%;  
       top: 5%;   
      transform: translateX(-50%); 
     width: 200px;
     

     
}

.details-container p{
    color: #fff;
    font-size: 1.2rem;
    margin: 40px 0 30px 0 

}

details > summary{
    list-style-type: none;
}

details,summary{
    outline: none;
    color:rgba(255, 255, 255, 1.00)
}

summary{
    font-size: 20px;
    font-family: "Roberto", sans-serif;
    background: #eee;
    color: #111;
    padding: 10px 20px 8px;
    position: relative;
    cursor:pointer;
}

summary::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #9185c9;
    right: 10px; 
    top: 0;
    bottom: 0;
    margin: auto;
}

details{
    margin-bottom: 20px;
     background: #7475ad; 

}

details .text-section{
    padding: 10px 20px;
    text-align: center;
}

details[open] summary{
    background-color: #b4a9a9;
}

details[open] summary::after{
    content: "";
    border-top-color: #fff;
}

.output{
    position: absolute;
    top: 65%;
    left: -0.5%;
    
    
}

.output p{
    color: white;
    font-size: 1.2rem;
    margin-bottom: 20px;

}

.output input{
    padding: 7px
}

.output input:focus{
    outline: none;
}

.output .n1-input{
    margin-bottom: 20px;
}

.output .output-result{
    margin-top: 30px;
}