*{
    margin: 0;
    padding: 0;
    
    
    
}

body{
    background-color: #FFFAFA;
    box-sizing:border-box;

}

.div{
    background: url("assets/images/background2.jpeg"), #89CFF0 no-repeat;
    background-size: cover;
    background-position: center/center;
    background-blend-mode: multiply;
    width: 100%;
    /* height: 100vh; */
}

.header{

/*background: linear-gradient(to right, #00093c,#2d0b00);*/
 display: flex;
 justify-content: space-around;
 height: 80px;
 width: 100%;
 margin-bottom: 20px;
 align-items: center;

}

.header h1{
    color: white; 
    text-align: center;
    
}



 .header img{ 
    width: 50px;
     height: 30px;
    float: left;
    cursor: pointer;
    border: 4px solid #d6cadd;
    border-radius: 10px;
    overflow: auto;

}

.nav{
   width: 89.1%;
    height: 35px;
    padding: 0px 100px;
     /*background-image: linear-gradient(#033747, #012733); */
   

}



.nav .navigation{
      /* color: white;   */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}




.nav .navigation a{
    text-decoration: none;
     color: white; 
    font-size: 20px;
    padding: 4px;
    border-radius: 10px;
    transition: 0.5s;
    transition-property: background;
}

.nav .navigation a:hover{
    background: #ffffff;
    color: black;
    padding: 5px;
    border-radius: 6px;
}

.nav .toggle label{
    display: none;
}

.nav .toggle{
    float: right;
    margin-right: 3rem;
}

 #check{
        z-index: 3;
        display: none;
}



.home{
    position: relative;
    width: 100%;
     min-height: 100vh; 
    font-family: 'Poppins',sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.home .home-content{
       max-width: 650px;
       margin: 60px 100px;
       float: right;
}

.home .home-content .info h2{
         color:#226A80;
         font-size: 55px;
         text-transform: uppercase;
         font-weight: 800;
         letter-spacing: 2px;
         line-height: 60px;
         margin-bottom: 30px;
        
}

.home .home-content .info h2 span{
         color: #fff;
         font-size: 50px;
         font-weight: 600;
}

.home .home-content .info p{
    font-size:16px;
    font-weight: 500;
    margin-bottom: 40px;
    
}

.home .home-content  .info-btn{
         color: #fff;
         background: #226A80;
         text-decoration: none;
         text-transform:uppercase;
          font-weight: 700;
          letter-spacing: 2px;
          padding: 10px 20px;
          border-radius: 5px;
          transition: 0.5s;
          transition-property: background;

}

.home .home-content  .info-btn:hover{
     background: #0C4F60
}

.media-icons{
     display: flex;
     justify-content:center;
     align-items: center;
     margin: auto;

}

.media-icons a{
    position: relative;
    color: #111;
    font-size: 25px;
    transition: 0.3s;
    transition-property: transform;
}

.media-icons a:not(:last-child){
    margin-right: 60px;

}

.media-icons a:hover{
    transform: scale(1.5);

}

#menu{
    background-image: url("assets/images/menu.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: local;
    width: 99vw;
    height: 110vh;
}

.menu-para{
    text-align: center;
    color: white;
    
}

.menu-para .menu-paragraph {
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
    text-transform: uppercase;
    border: 3px dotted #ffa812;
    display: inline-block;
    padding: 10px 12px;
      
}

.menu-para .menu-p{
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;

}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap:wrap;
    gap: 15px;
    
    
    
}

.card{
    position: relative;
    width: 400px;
    background-image: linear-gradient(to right,  #00093c,#89CFF0);    
    border-radius: 25px;
  
     min-height: 250px; 
    box-shadow: 0 35px 80px  rgba(0,0,0,0.15);
    transition: 1s;
    
}



.card:hover{
    height: 500px;
}

.imgBx{
       position: absolute;
       left: 50%;
       top: -50px;
       transform: translateX(-50%);
       width: 150px;
       height: 150px;
       border-radius: 20px;
       box-shadow: 0 15px 50px rgba(0,0,0,0.35);
       overflow: hidden;
       transition: 0.5s;
}

.imgBx img{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       object-fit: cover;

}

.card:hover .imgBx{
    width: 250px;
    height: 250px;
}

.card .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
     overflow: hidden;
}

.card .content .details{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(150px);
}

.card:hover .content .details{
    transform: translateY(0px)
}

.card .content .details h2{
    font-size: 1.25em;
    font-weight: 600;
    color:	#F8F8FF;
    line-height: 1.2em;

}

.card .content .details h2 span{
    font-size: 0.85em;
    font-weight: 500;
    opacity: 0.5;
}

.card .content .details .data{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.card .content .details .data h3{
    font-size: 1em;
    color: #F5F5DC;
    line-height: 1.5em;
    font-weight: 600px;
}

.card .content .details .data h3 span{
      font-size: 0.90em;
      font-weight: 500;
      opacity: 0.5;
      color: #fff5ee;

}

.card .content .details .actionBtn{
    display: flex;
    justify-content:space-between;
     gap: 20px; 
}

.card .content .details .actionBtn button{
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    background-color:#FF69B4;
    color: #ffffff;
    cursor: pointer;
}

.card .content .details .actionBtn button:nth-child(2){
    border: 1px solid #ffa07a;
    background: #ffffff;
    color: black; 
}

 #about{
     background: linear-gradient(to right,  #00093c,#89CFF0);    
    
    font-family: 'Poppins', sans-serif
 }

 .section{
     width: 100%;
 }

 .section .container{
     width:80%;
     display:block;
     margin: 0px auto;
     padding: 50px 0px;
 }

 .container .title{
     width: 100%;
     text-align: center;
     margin-bottom: 50px;
 }

 .container .title h1{
     text-transform: uppercase;
     font-size: 35px;
     color: #88941e
 }

 .container .title h1::after{
     content:"";
     height: 5px;
     width: 100px;
     background-color:#c4d156;
     border-radius: 25px;
     display: block;
     margin: auto;
 }
 
  .content{
     float: left;
 }

 .content .article h3{
     color: #a3a3a3;
     font-size: 17px;
     
 }

 .content .article p{
     margin: 20px 150px 0;
     font-size: 16px;
     line-height: 1.5;
     color:#E9DCC9;
     text-align: justify;

    
 }

 .content .article .button{
     margin: 50px 150px 0;

 }

 .content .article .button a{
     text-decoration: none;
     padding: 8px 25px;
     background-color: #88941e;
     border-radius: 40px;
     color: #fff;
     font-size: 18px;
     letter-spacing: 1.5px;
     transition: 1s ease;
     transition-property: background-color;
 }

 .content .article .button a:hover{
     color: #fff;
     background-color: #f28f92;
     
 }

 
 .image-section{
     float: right;
     width: 40%;
 }

 .image-section img{
     width: 100%;
     height: auto;
 }

 .container .social{
    width: 100%;
    clear: both;
    margin-top: 50px;
    text-align: center;
    display: inline-block;
}

.container .social i{
   color: #fff;
   font-size: 22px;
   height: 45px;
   width: 45px;
   border-radius: 50%;
   line-height: 45px;
   text-align: center;
   background-color: #f28f92;
   margin: 0px 5px;
   transition: 1s ease;
   transition-property: background-color;
}

.container .social i:hover{
color: #fff;
background-color: #88941e;
transform: rotate(360deg);
}


#recipe{

    width: 100%;
     height: auto; 
      background-image: url("assets/images/recipe.jpg");
      background-position: center;  
       background-size: cover; 
     
    
}

#recipe h1{
    position: relative;
    width: 80%;
    min-width: 950px;
    height: auto;
    margin-top: -10px;
    padding: 0 0 0 30px;
    font-family: "Recursive", sans-serif;
    font-size: 4rem;
    color: blue;
    text-align: center;
    


}

.recipe{
    width: 90%;
    height: 100%;
    
}

.recipe-content{
    position: relative;
    width: 90%;
    height: 90%;
    /* min-height: 100%; */
    margin: 20px auto 20px auto;
    padding: 40px 30px 50px 20px;
   
    background: linear-gradient(to right,  #00093c,#89CFF0);   
}








.recipe p{
    margin: 50px 150px 0;
    font-size: 16px;
    line-height: 1.5;
    color:/*#1B1212*/#000080	;
    text-align: justify;
    font-size: 25px;
}

.recipe-info{
     position: relative;
     width: 60%;
     height: auto;
     margin: 0;
     padding: 0;
     border: 1px solid white;
     
}



.title1 h3{
   text-align: center;
    color: rgba(255,255,255,1.00);
}

.ingredients{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.ingredients h3, .directions h3{
    position: relative;
    width: 20%;
    height: 1.6rem;
    margin: 50px 0 0 150px;
    padding: 0;
    font-family: "Recursive", "Poppins", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    background-color: rgba(204,114,11,1.00);
    color: rgba(255,255,255,1.00);
    border-radius: 8rem;
}

.ingredients ul, .directions ol{
    width: 70%;
    height: auto;
    color: rgba(255, 255, 255, 1.00);
    font-size: 1rem;
    line-height: 1.2rem;
    margin-top: 50px;
}

.ingredients li{
    margin: 0 0 10px 450px;
    list-style-type: square;
}

.directions li{
    margin: 0 0 10px 450px;
}



.video p, .audio p{
    margin: 50px 0 0 350px;
    font-size: 2rem;
    line-height: 1.5;
    color:/*#1B1212*/ rgba(255, 255, 255, 1.00);;
    text-align: justify;
}

.video .video1{
    width: 600px;
    height: 600px;
    margin: 0 400px;
}

.audio .audio1{
    margin: 20px 400px 50px;
}

.aside .aside1{
    
}

.footer{
    width: 100%;
    bottom: 0;
    background: linear-gradient(to right,  #00093c,#89CFF0);
    color: #ffffff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.row{
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
     flex-basis: 20%;
     padding:  10px;
}

.col:nth-child(2), .col:nth-child(3){
     flex-basis: 10%;
}

.logo{
    width: 80px;
    margin-bottom: 30px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

 .links{ 
     list-style-type: none;  
    
 } 

.links .li{
    margin-bottom: 12px;
}

.links li a{
    text-decoration: none;
    color: white;
}

.subscribe{
    padding-bottom: 15px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.subscribe .fa-regular{
        font-size: 18px;
        margin-right: 10px;

}

.subscribe input{
    width: 100%;
    background: transparent;
    color:#ccc;
    outline: none;

}

.subscribe button{
    background:transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.subscribe button .fa-sharp{
    font-size: 16px;
    color: #ccc;
}

.social-icons .fa-brands{
     width: 40px;
     height: 40px;
     border-radius: 50%;
     text-align: center;
     line-height: 40px;
     font-size: 20px;
     color: #000000;
     background-color: #ffffff;
     margin-right: 15px;
     cursor: pointer;
}

.line{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
      text-align: center;
}

.author{
    font-style: italic;
    font-weight: bold;
}

.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span{
    width: 15px;
    height: 100%;
    background: #ffffff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;

}

@keyframes moving{
    0%{
        left: -20%;
    }
    100%{
        left: 100%;
    }
}

